{% extends 'base.html' %}
<!DOCTYPE html>
{% load staticfiles %}
{% block content %}
<div class="bg-light">
  <div class="text-center">
    <div class="font-weigh-bold lead pt-2">
      <h2>HI! I'M AHAD EMU</h2>
    </div>
    <div class="font-italic pb-2">
      <h5>FULL STACK DEVELOPER FROM DHAKA, BANNGLADESH</h5>
    </div>
  </div>
</div>
<div class="text-center mb-3">
  <img class="img img-fluid img-thumbnail"src="{% static 'images/profile.jpg' %}" alt="profile picture" height="300px" width="280px">
</div>
<div class="bg-light pt-4 pb-3">
  <div class="text-center">
    <h2>About Me</h2>
    <div class="container mt-3">
      <p>Welcome to my mini TodoList website. My name is <strong>Abul Ahad Emu</strong> and most of my friends call me EMU for shorts. I am <b>Full Stack Web Developer</b> and currently staying in Narayanganj.
        This is my Third django Website. Here I collect some information of many languages from wikipedia that's why i named this site is wikipedia. Here You can also add some languages definaton and description.
      </p>
    </div>
  </div>
  <div style="width:100%" align="center">
    <table class="">
      <tr>
        <td>Name : </td>
        <td>Abul Ahad Emu</td>
      </tr>
      <tr>
        <td>Email : </td>
        <td>ahademu99@gmail.com</td>
      </tr>
      <tr>
        <td>Mobile No : </td>
        <td>+8801930892563</td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
