{% extends "base.html" %}

{% block content %}

{% if item %}
      <div class="container">
        <h1 class="text-center mt-5 mb-5">Details Information of {{item.name}}</h1>
        <a href="{% url 'home' %}" class="btn btn-success mb-2 float-right">Index Page</a>
        <div class="mb-4">
          <strong >Name of Title : <span class="text-primary">{{item.name}}</span></strong>
        </div>
        <div class="">
          <strong>Defination : </strong><br>
        </div>
        <div class="mb-4">
          {{item.defination}}
        </div>
        <div class="">
          <strong>Details information :</strong><br>
        </div>
        <div class="">
          {{item.details}}
        </div>
        <a href="{% url 'edit' item.id %}" class="btn btn-primary float-left mt-2" >Edit Information</a>
      </div>
{% endif %}

{% endblock %}
